
<!-- <div style="background: url(&quot;assets/img/pexels-luis-quintero-1494582.jpg&quot;) left / cover no-repeat;height: 880px;position: relative;">
    <div class="d-flex justify-content-center align-items-center" style="height: inherit;min-height: initial;width: 100%;position: absolute;left: 0;">
        <div class="container">
            <section class="position-relative py-4 py-xl-5">
                <div class="container">
                    <p style="text-align: right;"><a href="#myModal" data-bs-target="#myModal" data-bs-toggle="modal"><i class="icon ion-information-circled" style="color: rgb(247,153,3);margin-right: 10px;font-size: 21px;"></i></a></p>
                    <div>
                        <img class="img" src="../assets/land.jpeg"  style="height: 1711px;width: 110%;">
                        
                    </div>
                </div>
            </section>
            <div class="col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4">
                <button class="btn btn-lg text-uppercase shadow-lg d-block w-100" role="button" routerLink='/register' style="background: #e0b26e;color: rgb(250, 244, 244);font-size: 20px;">Get Started
                </button>
              </div>
        </div>
    </div> 
</div> -->


          

   <div class="jumbotron">
    <div class="col-sm-10 col-md-8 col-lg-4 offset-sm-1 offset-md-2 offset-lg-4">
        <button class="btn btn-lg text-uppercase shadow-lg d-block w-100" role="button" routerLink='/register' style="background: #e0b26e;color: rgb(250, 244, 244);font-size: 20px;">Get Started
        </button>
      </div>
  </div>
  